### Decode ###
status=decode
#nbest=0
raw_dir=/home/hsani/YATO//sample_data/clf.test.txt
#decode_dir=/home/hsani/YATO/sample_data/test.decode
decode_dir=/home/hsani/YATO/sample_data/test.clf.decode
load_model_dir=/home/hsani/YATO/sample_data/acc0.9403_p0.9383_r0.9530_f0.9442.pth
sentence_classification=True
dset_dir=/home/hsani/YATO/sample_data/bert_base_sample.dset
gpu=True
device=cuda:0